<footer class="bg-footer-top d-lg-none d-sm-none">
<div class="footer-curve position-relative sec-bg border-redious-10 border-secondary border py-lg-5 py-3 px-2 px-sm-0">
<div class="container">
<div class="row">
<div class="col-md-5 border-0 border-secondary ps-lg-5 mb-4">
<div class="row align-items-center">
<div class="col-md-10">
<img alt="logo" class="img-fluid mb-lg-4 mb-2 mt-4 mt-lg-0" src="/assets/images/logo-transparent.png" width="100" />
<div class="row">
<div class="col-md-6">
<div class="accordion" id="accordionExample3">
<div class="accordion-item bg-transparent border-0">
<div class="accordion-header">
<button aria-controls="collapseOne3" aria-expanded="true" class="accordion-button" data-bs-target="#collapseOne3" data-bs-toggle="collapse" type="button">
<p class="mb-0"><span>Gurugram Branch:</span> </p>
</button>
</div>
<div class="accordion-collapse collapse" id="collapseOne3">
<div class="accordion-body">
<p class="my-2">
														C71B, C71C, C71D, C81B<br /> Supermart 1,<br />
														DLF Phase IV,<br />
														Gurugram- 122009
													</p>
<p class="mb-2">
<a href="https://maps.app.goo.gl/2tbaoXyhJMvk3xFo9" target="_blank">View Direction on Map</a>
</p>
<p class="mb-2">
														Phone no. +91 85868 04126
													</p>
<p class="mb-0">CIN No. U80904HR2018PTC073244</p>
</div>
</div>
</div>
</div>
</div>
</div>
<ul class="mb-0 list-unstyled d-flex">
<li class="pe-3"><a href="https://www.facebook.com/TutelaPrep/" target="_blank"><img alt="facebook" class="img-fluid" src="/assets/images/facebook.svg" /></a></li>
<li class="pe-3"><a href="https://www.youtube.com/channel/UCW4WRdbc6cQdYLVUlnqvMkQ" target="_blank"><img alt="youtube" class="img-fluid" src="/assets/images/youtube.svg" /></a></li>
<li class="pe-3"><a href="https://www.linkedin.com/company/tutela/" target="_blank"><img alt="linkedin" class="img-fluid" src="/assets/images/linkedin.svg" /></a></li>
<li><a href="https://www.instagram.com/tutelaprep/" target="_blank"><img alt="instagram" class="img-fluid" src="/assets/images/instagram.svg" /></a></li>
</ul>
</div>
<div class="col-md-2 text-end text-lg-start mt-3">
<a class="back-to-top-btn" href="#header"><img alt="arrow-up" class="img-fluid" src="/assets/images/arrow-up.png" /></a>
</div>
</div>
</div>
</div>
<div class="col-md-2 mb-3 mb-lg-0">
<div class="accordion" id="accordionExample">
<div class="accordion-item bg-transparent border-0">
<div class="accordion-header">
<button aria-controls="collapseOne" aria-expanded="true" class="accordion-button" data-bs-target="#collapseOne" data-bs-toggle="collapse" type="button">
<h5>Courses</h5>
</button>
</div>
<div class="accordion-collapse collapse" id="collapseOne">
<div class="accordion-body">
<ul class="mb-0 list-unstyled">
<li class="mb-2"><a href="/sat/">SAT</a></li>
<li class="mb-2"><a href="/ap/">AP</a></li>
<li class="mb-2"><a href="/ibdp/">IB DP</a></li>
<li class="mb-2"><a href="/ibmyp/">IBMYP</a></li>
<li class="mb-2"><a href="/igcse/">IGCSE</a></li>
<li class="mb-2"><a href="/act/">ACT</a></li>
<li class="mb-2"><a href="/psat/">PSAT</a></li>
<li class="mb-2"><a href="/esat/">ESAT</a></li>
<li class="mb-2"><a href="/tmua/">TMUA</a></li>
<li class="mb-2"><a href="/tara/">TARA</a></li>
<li class="mb-2"><a href="/amc/">AMC</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-3 mb-3 mb-lg-0">
<div class="accordion" id="accordionExample1">
<div class="accordion-item bg-transparent border-0">
<div class="accordion-header">
<button aria-controls="collapseOne1" aria-expanded="true" class="accordion-button" data-bs-target="#collapseOne1" data-bs-toggle="collapse" type="button">
<h5>Partners</h5>
</button>
</div>
<div class="accordion-collapse collapse" id="collapseOne1">
<div class="accordion-body">
<ul class="mb-0 list-unstyled">
<li class="mb-2"><a class="text-blue" href="/partner-schools/">Schools</a></li>
<li class="mb-2"><a class="text-blue" href="/partner-counsellors/">Counsellors</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-2 mb-3 mb-lg-0">
<div class="accordion" id="accordionExample2">
<div class="accordion-item bg-transparent border-0">
<div class="accordion-header">
<button aria-controls="collapseOne2" aria-expanded="true" class="accordion-button" data-bs-target="#collapseOne2" data-bs-toggle="collapse" type="button">
<h5>Company</h5>
</button>
</div>
<div class="accordion-collapse collapse" id="collapseOne2">
<div class="accordion-body">
<ul class="mb-0 list-unstyled">
<li class="mb-2"><a href="/about-us/">About Us</a></li>
<li class="mb-2"><a class="text-blue" href="/about-us/#careers">Careers</a></li>
<li class="mb-2"><a href="/terms-of-service/">Terms of Service </a></li>
<li class="mb-2"><a href="/privacy-policy/">Privacy Policy </a></li>
<li><a href="/refund-policy/">Refund Policy</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="bg-bottom-footer py-3">
<div class="container">
<div class="row justify-content-center align-items-center">
<div class="col-sm-12 text-center">
<p class="mb-0 text-white">© 2026 Tutelaprep. All Rights Reserved.</p>
</div>
</div>
</div>
</div>
</footer>

<footer class="bg-footer-top d-none d-lg-block d-sm-block">
<div class="footer-curve position-relative sec-bg border-redious-10 border-secondary border py-lg-5 py-4">
<div class="container">
<div class="row">
<div class="col-lg-6 col-sm-6 border-end border-secondary pe-lg-5 mb-3 mb-lg-0">
<div class="row align-items-center">
<div class="col-sm-10">
<img alt="logo" class="img-fluid mb-lg-4 mb-2 mt-4 mt-lg-0 mt-sm-0" src="/assets/images/logo-transparent.png" width="100" />
<div class="row">
<div class="col-sm-6">
<p class="mb-2"><span>Gurugram Branch:</span> <br />
										C71B, C71C, C71D, C81B<br /> Supermart 1,<br />
										DLF Phase IV,<br />
										Gurugram- 122009
									</p>
<p class="mb-2">
<a href="https://maps.app.goo.gl/2tbaoXyhJMvk3xFo9" target="_blank">View Direction on Map</a>
</p>
<p class="mb-2">
										Phone no. +91 85868 04126
									</p>
<p class="mb-0">CIN No. U80904HR2018PTC073244</p>
</div>
<div class="col-sm-6">
<ul class="mb-0 list-unstyled d-flex mt-4 mt-sm-0">
<li class="pe-3"><a href="https://www.facebook.com/TutelaPrep/" target="_blank"><img alt="facebook" class="img-fluid" src="/assets/images/facebook.svg" /></a></li>
<li class="pe-3"><a href="https://www.youtube.com/channel/UCW4WRdbc6cQdYLVUlnqvMkQ" target="_blank"><img alt="youtube" class="img-fluid" src="/assets/images/youtube.svg" /></a></li>
<li class="pe-3"><a href="https://www.linkedin.com/company/tutela/" target="_blank"><img alt="linkedin" class="img-fluid" src="/assets/images/linkedin.svg" /></a></li>
<li><a href="https://www.instagram.com/tutelaprep/" target="_blank"><img alt="instagram" class="img-fluid" src="/assets/images/instagram.svg" /></a></li>
</ul>
</div>
</div>
</div>
<div class="col-sm-2 text-end text-lg-start">
<a class="back-to-top-btn" href="#header"><img alt="arrow-up" class="img-fluid" src="/assets/images/arrow-up.png" /></a>
</div>
</div>
</div>
<div class="col-lg-2 col-sm-1 mb-3 mb-lg-0 ps-lg-5">
<h5>Courses</h5>
<ul class="mb-0 list-unstyled">
<li class="mb-2"><a href="/sat/">SAT</a></li>
<li class="mb-2"><a href="/ap/">AP</a></li>
<li class="mb-2"><a href="/ibdp/">IB DP</a></li>
<li class="mb-2"><a href="/ibmyp/">IBMYP</a></li>
<li class="mb-2"><a href="/igcse/">IGCSE</a></li>
<li class="mb-2"><a href="/act/">ACT</a></li>
<li class="mb-2"><a href="/psat/">PSAT</a></li>
<li class="mb-2"><a href="/esat/">ESAT</a></li>
<li class="mb-2"><a href="/tmua/">TMUA</a></li>
<li class="mb-2"><a href="/tara/">TARA</a></li>
<li class="mb-2"><a href="/amc/">AMC</a></li>
</ul>
</div>
<div class="col-sm-3 col-lg-2 mb-3 mb-lg-0 partner-footer ps-sm-5 ps-lg-0">
<h5>Partners</h5>
<ul class="mb-0 list-unstyled">
<li class="mb-2"><a class="text-blue" href="/partner-schools/">Schools</a></li>
<li class="mb-2"><a class="text-blue" href="/partner-counsellors/">Counsellors</a></li>
<li class="mb-2"><a class="fw-bold h6" href="/college-kit/">College Kit</a></li>
</ul>
</div>
<div class="col-sm-2 col-lg-2 mb-3 mb-lg-0">
<h5>Company</h5>
<ul class="mb-0 list-unstyled">
<li class="mb-2"><a href="/about-us/">About Us</a></li>
<li class="mb-2"><a class="text-blue" href="/about-us/#careers">Careers</a></li>
<li class="mb-2"><a href="/terms-of-service/">Terms of Service </a></li>
<li class="mb-2"><a href="/privacy-policy/">Privacy Policy </a></li>
<li><a href="/refund-policy/">Refund Policy</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="bg-bottom-footer py-3">
<div class="container">
<div class="row justify-content-center align-items-center">
<div class="col-sm-12 text-center">
<p class="mb-0 text-white">© 2026 Tutela. All Rights Reserved.</p>
</div>
</div>
</div>
</div>
</footer>