<header id="header">
<div class="top-header py-3 d-none d-lg-block">
<div class="container">
<div class="row align-items-center">
<div class="col-md-9">
<ul class="list-unstyled d-flex justify-content-lg-start justify-content-center mb-0">
<li>
<a class="text-white" href="mailto:info@tutelaprep.com"><img alt="mail" class="img-fluid" src="/assets/images/mail.svg" /> info@tutelaprep.com</a>
</li>
<li class="mx-4 px-3 text-secondary d-lg-block d-none"><img alt="vertical line" class="img-fluid" src="/assets/images/verticalline.svg" /></li>
<li>
<a class="text-white" href="tel:918586804126"><img alt="phone" class="img-fluid" src="/assets/images/phone.svg" /> +91 85868 04126</a>
</li>
</ul>
</div>
<div class="col-md-3 d-flex justify-content-lg-end justify-content-center mt-2 mt-lg-0">
<!--<a href="/checkout" class="d-inline-block text-white cart"><img class="img-fluid" src="/assets/images/shopping-cart.svg" alt="shopping cart"> Cart 
						<span class="p-1 bg-white border border-light rounded-circle text-black ms-1">
							0						</span>
					</a>-->
</div>
</div>
</div>
</div>
<div class="main-header border border-secondary rounded sec-bg border-2">
<nav class="navbar navbar-expand-lg bg-body-tertiary py-0">
<div class="container">
<a class="navbar-brand" href="/"><img alt="logo" class="img-fluid" src="/assets/images/logo-transparent.png" style="max-height: 55px; width: auto;" /></a>
<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
<img alt="menu" class="toggler-icon menu-icon" src="/assets/images/menu.svg" />
<img alt="close" class="toggler-icon close-icon d-none" src="/assets/images/close.svg" />
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<div class="top-header py-3 d-lg-none d-block ps-3">
<div class="container1">
<div class="row align-items-center">
<div class="col-md-9">
<ul class="list-unstyled d-flex align-items-center mb-0">
<li class="me-2">
<a class="text-white" href="mailto:info@tutelaprep.com"><img alt="mail" class="img-fluid" src="/assets/images/mail.svg" /> info@tutelaprep.com</a>
</li>
<li class="ms-2 me-3 text-secondary">|</li>
<li>
<a class="text-white" href="tel:918586804126"><img alt="phone" class="img-fluid" src="/assets/images/phone.svg" /> +91 85868 04126</a>
</li>
</ul>
</div>
</div>
</div>
</div>
<ul class="navbar-nav m-auto my-2 my-lg-0">
<li class="nav-item">
<a aria-current="page" class="nav-link text-white active" href="/">Home</a>
</li>
<li class="nav-item dropdown">
<a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">
								Courses
							</a>
<ul class="dropdown-menu">
<li><a class="dropdown-item" href="/sat/">SAT</a></li>
<li><a class="dropdown-item" href="/ap/">AP</a></li>
<li><a class="dropdown-item" href="/ibdp/">IB DP</a></li>
<li><a class="dropdown-item" href="/ibmyp/">IB MYP</a></li>
<li><a class="dropdown-item" href="/igcse/">IGCSE</a></li>
<li><a class="dropdown-item" href="/act/">ACT</a></li>
<li><a class="dropdown-item" href="/psat/">PSAT</a></li>
<li><a class="dropdown-item" href="/esat/">ESAT</a></li>
<li><a class="dropdown-item" href="/tmua/">TMUA</a></li>
<li> <a class="dropdown-item" href="/tara/">TARA</a></li>
<li><a class="dropdown-item" href="/amc/">AMC</a></li>
<li> <a class="dropdown-item" href="/ielts-toefl/">IELTS &amp; TOEFL</a></li>
</ul>
</li>
<li class="nav-item dropdown">
<a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">
								Results
							</a>
<ul class="dropdown-menu">
<li><a class="dropdown-item" href="/scores/">Scores</a></li>
<li><a class="dropdown-item" href="/testimonial/">Testimonials</a></li>
</ul>
</li>
<li class="nav-item">
<a class="nav-link" href="/about-us/">About Us</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/about-us/#our-reach" id="our-reach-about">Our Reach</a>
</li>
<li class="nav-item dropdown">
<a aria-expanded="false" class="blinking-text nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">
								Free Resources
							</a>
<ul class="dropdown-menu">
<li><a class="dropdown-item" href="/free-test-prep-quiz/">Practice Quizzes</a></li>
<li><a class="dropdown-item" href="/sat/diagnostic-test/">SAT Diagnostic</a></li>
<li><a class="dropdown-item" href="/act/diagnostic-test/">ACT Diagnostic</a></li>
<li><a class="dropdown-item" href="/college-toolkit/">College Toolkit</a></li>
</ul>
</li>
<li class="nav-item">
<a class="nav-link" href="/blog/">Blog</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/contact-us/">Contact Us</a>
</li>
</ul>
<div class="d-flex align-items-center menu-btn d-none d-lg-block">
<a class="btn bg-white login-btn ms-2" href="https://www.connect.tutelaprep.com/login">Login</a>
</div>
<div class="top-header py-3 d-lg-none d-block">
<div class="container1 ps-3">
<div class="row align-items-center">
<div class="col-6 col-sm-4">
<div class="menu-btn">
<a class="btn bg-white login-btn" href="https://www.connect.tutelaprep.com/login">Login</a>
</div>
</div>
<div class="col-2 col-sm-1">
<ul class="list-unstyled mb-0">
<li class="me-3 ms-1 text-secondary">|</li>
</ul>
</div>
<div class="col-4 col-sm-4">
<!--<a href="/checkout" class="d-inline-block text-white cart"><img class="img-fluid" src="/assets/images/shopping-cart.svg" alt="shopping cart"> Cart 
										<span class="p-1 bg-white border border-light rounded-circle text-black ms-1">
											0										</span>
									</a>-->
</div>
</div>
</div>
</div>
</div>
</div>
</nav>
</div>
</header>